.instant-wins-group-header {
    background-color: #fff;
    color: #111111;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.instant-wins-group-header.has-wins:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '-';
    font-size: 25px;
    background-color: var(--primary-color);
    width: 60px;
    color: #fff;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instant-wins-group-header.has-wins.collapsed:after {
    content: '+';
}



.instant-wins-group-header .winners-count {
    background-color: #ececec;
    font-size: 13px;
    font-weight: normal;
    color: #595959;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin-top: 7px;
}

.prize-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.instant-wins-group-header img {
    margin: 0 !important;
    width: 80px;
    height: 80px;
}

#accordion .card {
    background-color: #504b5c;
    margin-bottom: 1rem;
}

.instant-win-groups {
    width: 100%;
    padding: 16px 14px;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    gap: 10px;
}

.instant-win-grouped-item {
    position: relative;
    background-color: #fff;
    color: #171717;
    padding: 22px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.instant-win-grouped-item span {
    text-align: center;
    text-transform: uppercase;
}

.instant-win-grouped-item.won span {
    opacity: .6;
}

.instant-win-item-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.instant-win-item-tag.won {
    background-color: #7e7e7e;
}



@media(max-width:767px) {
    .instant-wins-group-header {
        font-size: 16px;
        padding: 6px;
    }


    .instant-wins-group-header img {
        width: 70px;
        height: 70px;
    }


    .instant-wins-group-header:after {
        width: 40px;
        font-size: 20px;
    }

    .prize-text {
        padding-right: 30px;
    }

    .instant-win-grouped-item {
        margin: 0 0 5px 0;
        padding-top: 15px;
    }

    .instant-win-groups {
        width: 100%;
        padding: 16px 14px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
    }

    .instant-win-grouped-item .sep-30 {
        height: 20px;
    }

}

.instant-wins-group-header {
    background-color: #fff;
    color: #111111;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.instant-wins-group-header.has-wins:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '-';
    font-size: 25px;
    background-color: var(--primary-color);
    width: 60px;
    color: #fff;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instant-wins-group-header.has-wins.collapsed:after {
    content: '+';
}



.instant-wins-group-header .winners-count {
    background-color: #ececec;
    font-size: 13px;
    font-weight: normal;
    color: #595959;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin-top: 7px;
}

.prize-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.instant-wins-group-header img {
    margin: 0 !important;
    width: 80px;
    height: 80px;
}

#accordion .card {
    background-color: #504b5c;
    margin-bottom: 1rem;
}

.instant-win-groups {
    width: 100%;
    padding: 16px 14px;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    gap: 10px;
}

.instant-win-grouped-item {
    position: relative;
    background-color: #fff;
    color: #171717;
    padding: 22px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.instant-win-grouped-item span {
    text-align: center;
    text-transform: uppercase;
}

.instant-win-grouped-item.won span {
    opacity: .6;
}

.instant-win-item-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.instant-win-item-tag.won {
    background-color: #7e7e7e;
}



@media(max-width:767px) {
    .instant-wins-group-header {
        font-size: 16px;
        padding: 6px;
    }


    .instant-wins-group-header img {
        width: 70px;
        height: 70px;
    }


    .instant-wins-group-header:after {
        width: 40px;
        font-size: 20px;
    }

    .prize-text {
        padding-right: 30px;
    }

    .instant-win-grouped-item {
        margin: 0 0 5px 0;
        padding-top: 15px;
    }

    .instant-win-groups {
        width: 100%;
        padding: 16px 14px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
    }

    .instant-win-grouped-item .sep-30 {
        height: 20px;
    }

}

.instant-wins-group-header {
    background-color: #fff;
    color: #111111;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.instant-wins-group-header.has-wins:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '-';
    font-size: 25px;
    background-color: var(--primary-color);
    width: 60px;
    color: #fff;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instant-wins-group-header.has-wins.collapsed:after {
    content: '+';
}



.instant-wins-group-header .winners-count {
    background-color: #ececec;
    font-size: 13px;
    font-weight: normal;
    color: #595959;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin-top: 7px;
}

.prize-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.instant-wins-group-header img {
    margin: 0 !important;
    width: 80px;
    height: 80px;
}

#accordion .card {
    background-color: #504b5c;
    margin-bottom: 1rem;
}

.instant-win-groups {
    width: 100%;
    padding: 16px 14px;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    gap: 10px;
}

.instant-win-grouped-item {
    position: relative;
    background-color: #fff;
    color: #171717;
    padding: 22px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.instant-win-grouped-item span {
    text-align: center;
    text-transform: uppercase;
}

.instant-win-grouped-item.won span {
    opacity: .6;
}

.instant-win-item-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.instant-win-item-tag.won {
    background-color: #7e7e7e;
}



@media(max-width:767px) {
    .instant-wins-group-header {
        font-size: 16px;
        padding: 6px;
    }


    .instant-wins-group-header img {
        width: 70px;
        height: 70px;
    }


    .instant-wins-group-header:after {
        width: 40px;
        font-size: 20px;
    }

    .prize-text {
        padding-right: 30px;
    }

    .instant-win-grouped-item {
        margin: 0 0 5px 0;
        padding-top: 15px;
    }

    .instant-win-groups {
        width: 100%;
        padding: 16px 14px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
    }

    .instant-win-grouped-item .sep-30 {
        height: 20px;
    }

}

.cky-consent-container.cky-box-bottom-left{
    display: none!important;
}
.cky-consent-container{
    display: none!important;
}