@media(max-width: 400px) {

    .woocommerce table.shop_table_responsive tr td::before,
    .woocommerce-page table.shop_table_responsive tr td::before {
        max-width: 234px;
        text-align: left;
        font-size: .8rem;
    }

    .cart-discount {
        overflow: hidden;
    }
}

.cart_totals tr td::before,
.cart_totals tr td::before {
    content: " " !important;
}

.cart_totals tr,
.cart_totals tr {
    display: flex !important;
}

tr.cart-discount th,
tr.cart-discount td {
    display: flex !important;
    width: 100% !important;
}

tr.cart-discount td {
    width: 50% !important;
}

tr.order-total th,
tr.cart-subtotal th {
    display: flex !important;
    width: 100% !important;
}

.cart_totals .cart-collaterals .cart_totals tr td {
    width: 100% !important;
}

.cart-subtotal {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    width: 100%;
    margin-bottom: .4rem;
}

table.shop_table.woocommerce-checkout-review-order-table th {
    display: revert !important;
}

table.shop_table.woocommerce-checkout-review-order-table td {
    width: 100% !important;
}

table.shop_table.woocommerce-checkout-review-order-table .cart_item {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.manual-order-processing {
    height: 53vh;
    font-family: 'Poppins', sans-serif;
    max-width: 50%;
    width: 100%;
    margin: auto;
}

.manual-order-processing h1 {
    text-align: center;
}

.manual-order-processing small {
    opacity: .8;
    font-size: .6em;
}

.manual-order-processing span {
    font-size: .9em;
}

.manual-order-processing .fa-spinner {
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* smaller screen */
@media (max-width: 900px) {
    .manual-order-processing {
        max-width: 70%;
    }
}

@media (max-width: 767px) {
    .manual-order-processing {
        max-width: 90%;
    }
}

.lottery-animation-container {
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.lottery-number {
    position: absolute;
    font-size: 20px;
    opacity: 0;
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.instant-wins-group-header {
    background-color: #fff;
    color: #111111;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.instant-wins-group-header:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '-';
    font-size: 25px;
    background-color: var(--primary-color);
    width: 60px;
    color: #fff;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instant-wins-group-header.collapsed:after {
    content: '+';
}



.instant-wins-group-header .winners-count {
    background-color: #ececec;
    font-size: 13px;
    font-weight: normal;
    color: #595959;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin-top: 7px;
}

.prize-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.instant-wins-group-header img {
    margin: 0 !important;
    width: 80px;
    height: 80px;
}

#accordion .card {
    background-color: #504b5c;
    margin-bottom: 1rem;
}

.instant-win-groups {
    width: 100%;
    padding: 16px 14px;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    gap: 10px;
}

.instant-win-grouped-item {
    position: relative;
    background-color: #fff;
    color: #171717;
    padding: 22px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.instant-win-grouped-item span {
    text-align: center;
    text-transform: uppercase;
}

.instant-win-grouped-item.won span {
    opacity: .6;
}

.instant-win-item-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.instant-win-item-tag.won {
    background-color: #7e7e7e;
}



@media(max-width:767px) {
    .instant-wins-group-header {
        font-size: 16px;
        padding: 6px;
    }


    .instant-wins-group-header img {
        width: 70px;
        height: 70px;
    }


    .instant-wins-group-header:after {
        width: 40px;
        font-size: 20px;
    }

    .prize-text {
        padding-right: 30px;
    }

    .instant-win-grouped-item {
        margin: 0 0 5px 0;
        padding-top: 15px;
    }

    .instant-win-groups {
        width: 100%;
        padding: 16px 14px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
    }

    .instant-win-grouped-item .sep-30 {
        height: 20px;
    }

}